@model PizzaBox.Domain.Models.Customer

<body>
    <form action="/Customer" method="post">
        <div>
            <input type="text" class="form-control" id="CustomerName" asp-for="Name" placeholder="Name">
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
        </div>
    </form>
    <div class="container">
        @if (Model != null)
        {
            foreach (var order in Model.Orders)
            {
                <div>@order.Store</div>
                foreach (var pizza in order.Pizzas)
                {
                    <div>@pizza.Size</div>
                    <div>@pizza.Crust</div>

                    foreach (var topping in pizza.Toppings)
                    {
                        @topping.Name
                    }
                }

                <div>@order.Price</div>
                <div> @order.Date</div>
            }
        }
    </div>
</body>