@model PizzaBox.Domain.Models.Order
<body>


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Pizza</th>
                <th scope="col">Size</th>
                <th scope="col">Crust</th>
                <th scope="col">Toppings</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @{int index = 1;}
            @foreach (var pizza in Model.Pizzas)
            {
                <tr>
                    <th scope="row">@index</th>
                    <td>@pizza.Size.Name</td>
                    <td>@pizza.Crust.Name</td>
                    <td>
                        @foreach (var topping in pizza.Toppings)
                        {
                            @topping.Name @Html.Raw(" ")

                        }
                    </td>
                    <td>
                        @pizza.Price
                    </td>
                    @{index++;}
                </tr>
            }
        </tbody>
    </table>
        <div class="container">
        <a href="../home/index">Order More</a>
        </div>
        <form action="/order" method="get">
            @Html.AntiForgeryToken()
            <div class="container">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
</body>
